<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomConfigurationSection" type="RegularExpressions.FileInfoElement, RegularExpressions"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <CustomConfigurationsection appName="RegularExpressions">
    <file extension="*.txt"/>
    <path key="moveFilePath" value="D:\DestinationFolder\Backup"/>
    <extension name="*.txt"/>
    <saveDate value="true"/>
  </CustomConfigurationsection>
</configuration>